@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var siteSettings = Umbraco.ContentAtRoot().Where(x => x.ContentType.Alias == "siteSettings").FirstOrDefault() as SiteSettings;
}

<footer id="footer" class="container">
    <div class="row">
        <div class="12u">


            <!-- Contact -->
            <section>
                <h2 class="major"><span>Get in touch</span></h2>
                <ul class="contact">
                    <li><a href="@siteSettings?.FacebookLink" class="facebook">Facebook</a></li>

                    <li><a href="@siteSettings?.TwitterLink" class="twitter">Twitter</a></li>

                    <li><a href="@siteSettings?.RSslink" class="rss">RSS</a></li>

                    <li><a href="@siteSettings?.Gooleplus" class="googleplus">Google+</a></li>

                </ul>
            </section>
            <!-- /Contact -->


        </div>
    </div>
    <div class="row">
        <!-- Copyright -->
        <div id="copyright">
            &copy; @(DateTime.Now.Year) @siteSettings?.CopyrightText
        </div>
        <!-- /Copyright -->
    </div>
</footer>