@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<header id="header">
    <div class="logo">
        <div>
            <h1><a href="#" id="logo">Umbraco Test Site</a></h1>
            <span class="byline">Storm ID</span>
        </div>
    </div>
</header>
