@using Storm.Core.Models.ViewComponents;
@using Storm.Core.ViewComponents;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticlePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Layout.cshtml";
    var hasPageHeading = (Model is IUmbBlockGridDemoHeadlineBlock);
    var hasContentGrid = (Model is IContentBlockGrid);
    var pageColSize = Model.PageWidth;
}

<div class="@(pageColSize)u skel-cell-mainContent">
    <div class="content content-left">
        <!-- Content -->
        <article class="is-page-content">
            @if (hasPageHeading)
            {
                @await Component.InvokeAsync(nameof(Headline), new HeadlineModel() { Headline = Model.Headline, HeadlineStyle = Model.HeadlineStyle })
            }

            @if (hasContentGrid)
            {
                <section>
                    @await Html.GetBlockGridHtmlAsync(Model, "contentGrid")
                </section>
            }
        </article>
        <!-- /Content -->
    </div>
</div>