@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Layout.cshtml";
    var hasPageHeading = (Model is IMainHeading);
    var hasContentGrid = (Model is IStandardContentGrid);
}

<div class="row">
    <div class="9u skel-cell-mainContent">
        <div class="content content-left">
            <!-- Content -->
            <article class="is-page-content">
                @if (hasPageHeading)
                {
                    <header>
                        <h2>@Model.PageHeading</h2>
                    </header>
                }

                @if (hasContentGrid)
                {
                    <section>
                        @await Html.GetBlockGridHtmlAsync(Model, "contentGrid")
                    </section>
                }
            </article>
            <!-- /Content -->
        </div>
    </div>
</div>